/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
#home-page {
   background-color: var(--color-background);
   position: absolute;
   width: 100%;
   height: 100%;
}
.order-summary-container {
   display: flex;
   flex-direction: column;
   height: 590px;
   width: 90%;
   max-width: 370px;
   margin: 113px auto;
   border-radius: 16px;
   background-color: var(--color-white);
   & &__photo {
      background: url(/images/AdobeStock_331830515.jpg) no-repeat;
      height: 188px;
      background-size: contain;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
   }
   & &__button {
      width: 80%;
      height: 56px;
      border: 0;
      margin: 0 auto;
      border-radius: 16px;
      font-size: 16px;
      font-weight: bold;
      line-height: 160%;
      color: var(--color-white);
      background-color: var(--color-primary);
   }
   & &__button:hover {
      background-color: var(--color-hover);
      cursor: pointer;
   }
   & &__cancel {
      color: var(--color-title);
      margin: 20px auto;
      font-size: 14px;
      text-decoration: underline;
      line-height: 160%;
      font-weight: bold;
      letter-spacing: -0.01em;
   }
   & &__cancel:hover {
      font-size: 18px;
   }
   @media (min-width: 1024px) {
      max-width: 500px;
      height: 700px;

      & &__photo {
         background-size: cover;
         height: 232px;
      }
      &__cancel {
         font-size: 16px;
      }
   }
}
.order-summary-details {
   display: flex;
   flex-direction: column;
   gap: 32px;
   margin: 40px 16px;
   height: 200px;
   text-align: center;
   & &__header {
      color: #151827;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
   }
   & &__description {
      color: var(--color-body);
      letter-spacing: -0.01em;
      font-weight: medium;
      font-size: 14px;
   }
   @media (min-width: 1024px) {
      height: 235px;

      & &__header {
         font-size: 32px;
         line-height: 32px;
      }
      & &__description {
         font-size: 16px;
         line-height: 16px;
      }
   }
}
.order-summary-details-plan {
   display: flex;
   width: 100%;
   height: 75px;
   background-color: var(--color-background);
   border-radius: 16px;
   & &__icon {
      background: url(/images/music.jpg) no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
      margin: auto 15px;
   }
   & &__change {
      margin: auto;
      font-size: 14px;
      text-decoration: underline;
      line-height: 160%;
      font-weight: bold;
      letter-spacing: -0.01em;
      color: var(--color-primary);
   }
   & &__change:hover {
      font-size: 18px;
      color: var(--color-hover);
   }
   @media (min-width: 1024px) {
      height: 83px;
      & &__change {
         font-size: 16px;
      }
      & &__icon {
         margin: auto 25px;
      }
   }
}
.order-summary-details-plan-info {
   display: flex;
   flex-direction: column;
   width: 50%;
   gap: 2px;
   align-items: start;
   justify-content: center;
   border-left: 1px solid var(--color-stroke);
   margin: auto 0;
   padding-left: 20px;
   & &__header {
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      line-height: 16px;
      color: var(--color-title);
   }
   & &__description {
      margin: 0;
      font-size: 12px;
      line-height: 12px;
      font-weight: medium;
      letter-spacing: -0.01em;
      color: var(--color-body);
   }
   @media (min-width: 1024px) {
      height: 49px;
      & &__header {
         font-size: 18px;
         line-height: 18px;
      }
      & &__description {
         font-size: 14px;
         line-height: 14px;
      }
   }
}
